<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">Walk the Dog & services</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Sign up</a>
          <a class="nav-link" href="./appointments">Appointments</a>
          <a class="nav-link" href="login">Login</a>
          <a class="nav-link" href="#">Profiles</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container">
<h2>Create a profile for your dog and their needs </h2>
</div>
<div class="container">
    <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
    <br>
    <h3>Been here before create your appointments for the week</h3>
<button type="button"  class="btn btn-warning btn-lg">Login</button>
</div>
<div class="container">
  
  <h3>List of Appointments for week</h3>
 
  <!-- <ul>
    <li *ngFor="let appointment of appointments">
        {{appointments.appointmentsDate}} :
        {{ appointment. confirm ? "confirm" : "not confirmed"}}
        <button type="button" class="btn btn-success">Confirm</button>
    </li>
</ul> -->
</div>



</tr>