<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">Walk the Dog & services</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="signup">Sign up</a>
          <a class="nav-link" href="login">Login</a>
          <!-- <a class="nav-link" href="appointments">Appointments</a> -->
          <!-- <a class="nav-link" href="profiles">Profiles</a> -->
        </div>
      </div>
    </div>
  </nav>
</div>

<section>
  <div class="container">
    <img src="..." class="rounded float-start img-fluid" alt="..." />
    <!-- <img src="..." class="rounded mx-auto d-block img-fluid" alt="..." /> -->
    <img src="..." class="rounded float-end img-fluid" alt="..." />
  </div>
</section>

<section>
  <div class="container text-center">
    <h2>Book an Appointment for your Dog walking or Training sessions</h2>

    <button
      class="justify-center"
      type="button"
      class="btn btn-primary btn-lg"
      onclick="window.location.href='/signup'"
    >
      Sign Up
    </button>

    <h3>Been here before create your appointments for the week</h3>
    <button
      class="justify-center"
      type="button"
      class="btn btn-warning btn-lg"
      onclick="window.location.href='/login'"
    >
      Login
    </button>
  </div>
</section>

<div class="container"></div>
