<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="./store">Walk the Dog & services</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Log in</a>
          <a class="nav-link" href="./appointments">Appointments</a>
          <a class="nav-link" href="#">Profiles</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container">
<h2>Create a profile for your dog and their needs </h2>
</div>
<div class="container">
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/signup'">Sign Up</button>
    <br><br>
    <h3>Been here before? Create your appointments for the week</h3>
<button type="button"  class="btn btn-warning btn-lg">Login</button>
</div>
