
<section class="container-fluid staff">
    <div class="card col-sm-12 col-md-3 col-lg-6"  style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
         <div class="card-body profiles">
            <h5  class="card-title">Name:{{staff.first_name}} {{staff.last_name}} </h5>
            <p  class="card-text">Description:{{staff.misc}} </p>
            <a routerLink="/profile"><button class="btn btn-success pull-right">Book Appointment!</button></a>
        </div>
      </div>
   

  <!-- {{staff.id + 1}}. -->
  <!-- {{staff.user_name}}: -->