<section class="justify-content-center staff">
    <div class="card col-sm-12 col-md-6 col-lg-6" style="width: 18rem">
      <img class="card-img-top" src="images/silhouette.png" alt="Profile Img">
      <div class="card-body profiles">
        <h5 class="card-title">
          Name:{{ staff.first_name }} {{ staff.last_name }}
        </h5>
        <p class="card-text">Description:{{ staff.misc }}</p>
        <button type="button"  class="btn btn-success btn-lg" onclick="window.location.href='appointments'">Book Appointment</button>
      </div>
    </div>
  </section>
  
  
  <!-- multiple show  -->
  
  <!-- <div class=" ">
    <h1>Hello,{{ customers.user_name }} </h1>
    <p>{{ customers.first_name }}
        {{ customers.last_name }}</p>
   
  </div> -->
  
  
  
  