.h1{
    color:black;
    font-size: 24px;
}

.card-body{
    background-color: blue;
}

.card-title{
    font-family: American Typewriter, serif;
    font-size: 150%;
}

.card-text{
    font-family: American Typewriter, serif;
    font-size: 100%;
}

.h5{
    color: black;
    font-size: 100%
}

.header-area{
    background-color:gray;
}

.button{
    color:darkcyan
}



