<!DOCTYPE html>
<html>
<head>
    <title>Meet Our Dog Walkers!</title>
    <link rel="stylesheet" type="text/css" href="profiles.component.css">
</head>

<body>
    <header>
        
        <div class="main">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Appointments</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">Login</a></li>
               
            </ul>
        </div>
        <h3>Your Dog's Next Best Friend Is Just A Click Away!</h3>
    </header>
    
    <div class="container">
        <form>
            
                <div class="card" style="width: 18rem;">
                    <img class="img" src="images/cristian-castillo-HcoOFfOH8S8-unsplash.jpg" alt="dogWalker-1">
                    <div class="card-body">
                        <h5 class="card-title">Name:</h5>
                        <p class="card-text">Description:</p>
                        <a routerLink="/appointments"><button class="btn btn-success pull-right">Book
                                Appointment!</button></a>
                    </div>
                </div>


                <div class="card" style="width: 18rem;">
                    <img class="img" src="images/jorge-salvador-Y6GZ97S-mcY-unsplash.jpg" alt="dogWalker-2">
                    <div class="card-body">
                        <h5 class="card-title">Name:</h5>
                        <p class="card-text">Description:</p>
                        <a routerLink="/appointments"><button class="btn btn-success pull-right">Book
                                Appointment!</button></a>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="img" src="images/valerie-elash-HNCX1RT1qRk-unsplash.jpg" alt="dogWalker-3">
                        <div class="card-body">
                            <h5 class="card-title">Name:</h5>
                            <p class="card-text">Description:</p>
                            <a routerLink="/appointments"><button class="btn btn-success pull-right">Book
                                    Appointment!</button></a>
                        </div>

                        <div class="card" style="width: 18rem;">
                            <img class= "img" src="images/olivia-hutcherson-irR3XM9mmKE-unsplash.jpg" alt="dogWalker-4">
                            <div class="card-body">
                                <h5 class="card-title">Name:</h5>
                                <p class="card-text">Description:</p>
                                <a routerLink="/appointments"><button class="btn btn-success pull-right">Book
                                        Appointment!</button></a>
                            </div>

                            <div class="card" style="width: 18rem;">
                                <img class="img" src="images/yogendra-singh-K8JxScoZb4A-unsplash.jpg" alt="dogWalker-5">
                                <div class="card-body">
                                    <h5 class="card-title">Name:</h5>
                                    <p class="card-text">Description:</p>
                                    <a routerLink="/appointments"><button class="btn btn-success pull-right">Book
                                            Appointment!</button></a>
                                </div>
                            </div>
            
        </form>
</body>
</html>