*{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    margin: 0px;
    float: right;
    list-style-type: none;
}

ul,li{
    display: inline-block;
}

ul, li, a{
    text-decoration:none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
}

ul, li, a:hover{
    color:darkcyan;
}

.h3{
    font-size: xx-large;
    color:black;
    float: left;
    width: 150px;
}

.card-body{
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.card-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    top: 50%;
    left: 50%;
    color:black;
    text-align: center;
}

.card-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    top: 50%;
    left: 50%;
    color:black;
    text-align: center;
}

.background{
    background: url('https://unsplash.com/photos/U6nlG0Y5sfs?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink');
    background-size: cover;
   
}