<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">Walk the Dog & services</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="signup">Sign up</a>
            <a class="nav-link" href="login">Login</a>
            <!-- <a class="nav-link" href="appointments">Appointments</a> -->
            <!-- <a class="nav-link" href="profiles">Profiles</a> -->
          </div>
        </div>
      </div>
    </nav>
  </div>


<div class="staff container ">
    <h2>
      Choose from our staff
    </h2>
    <app-display-profiles *ngFor="let staff of staff" [staff]="staff">
    </app-display-profiles>
  </div>
 


    <!-- logged in person only one shows -->
<section class= "container justify-right">
<div>
      <h1>Hello,{{ customers.user_name }} </h1>
      <p>{{ customers.first_name }}
          {{ customers.last_name }}</p>

          <p> {{customers.dog_name}}
            {{customers.Dog_age}}
          {{customers.misc}} </p>
     
    </div> 

<!-- show only for logged in person -->
    <div>
      <h2>List of Appointments,</h2>
      <p>{{appointments.appointments_date}} 
        {{confirmation}}
      </p>
    </div>
  </section>
          
          