<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">Walk the Dog & services</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Sign up</a>
            <a class="nav-link" href="login">Login</a>
            <a class="nav-link" href="./appointments">Appointments</a>
            <a class="nav-link" href="#">Profiles</a>
          </div>
        </div>
      </div>
    </nav>
  </div>


<div class= "container">
    <h1>Appointments</h1>
</div >

<div class="container">
  <form action="/appointments" method="POST">
        <div class="form-group">
            <label for="first_name">First Name: </label>
            <input required type="text" class="form-control" ngModel name="first_name" #first_name="ngModel">
            <div class="alert alert-danger" *ngIf="first_name.touched && !first_name.valid">Required Field</div>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name: </label>
            <input required type="text" class="form-control" ngModel name="last_name" #last_name="ngModel">
            <div class="alert alert-danger" *ngIf="last_name.touched && !last_name.valid">Required Field</div>
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input required type="text" class="form-control" ngModel name="email" #email="ngModel">
            <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Required Field</div>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number: </label>
            <input required  maxLength="10" type="integer" class="form-control" ngModel name="phone" #phone="ngModel">
            <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">Required Field</div>
        </div> 

        <p>Select Appointment</p>

<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

<hr/>

<button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2025, month: 1})">To Jan 2025</button>

<hr/>

<h3>Month: {{ date.month }}.{{date.today}} {{ date.year }}</h3>

<hr/>

<ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
<hr>
<h3>Selected time: {{time | json}}</h3>
<hr/>

        <div class="form-group">
            <h3>Add Appointment</h3>
   <button (click)="addAppointment()" class="btn btn-primary">Add</button>
           
        </div>
    
</form>

</div>


 



  <!-- <ul>
    <li *ngFor="let appointment of appointments">
        {{appointments.appointment_date}} :
        {{ appointment.confirm ? "confirm" : "not confirmed"}}
        <button type="button" class="btn btn-success">Confirm</button>
    </li>
</ul> -->
  <router-outlet></router-outlet>